body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#header {
    background-image: url('https://wallpapers.com/images/hd/chic-lady-performing-pilates-0o58uw129w3y0wkr.jpg');
    background-size: cover;
    height: 600px;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    font-size: 1.5em;
}

#wrapper {
    display: flex;
    width: 813px;
            margin-left: auto;
            margin-right: auto;
}

#main-section {
    width: 600px;
    padding-left:16px;
    padding-right: 16px;

    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sidebar {
    background-color: bisque;
            width: 150px;
            padding: 16px;
            padding-top: 30px
}

.history_img {
    width: 200px;
    float: right;
    height:auto;
    padding: 10px;

}

.effectiveness_img {
    width: 200px;
    float: left;
    height:auto;
    padding: 10px;

}

.comparison_img {
    width: 200px;
    float: right;
    height:auto;
    padding: 10px;

}



#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 0.8em;
}
